# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
version: 2
updates:
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20
    target-branch: "main"
    ignore:
      - dependency-name: "ch.qos.logback:logback-classic"
        versions: [ "[1.3,)" ]
      - dependency-name: "jakarta.jms:jakarta.jms-api"
        versions: [ "[3.0.0,)" ]
  - package-ecosystem: "maven"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20
    target-branch: "2.x.x-stable"
    ignore:
      - dependency-name: "ch.qos.logback:logback-classic"
        versions: [ "[1.3,)" ]
      - dependency-name: "org.springframework:spring-jms"
        versions: [ "[5.3,)" ]
      - dependency-name: "org.springframework:spring-context"
        versions: [ "[5.3,)" ]
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "main"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    target-branch: "2.x.x-stable"