# Can ignore specific files
.DS_Store
.classpath
.project
# Use wildcards as well
*~
*.swp
jmscts-report.log
jmscts.log
# Can also ignore all directories and files in a directory.
target
target/** 
.settings/**
report/**
