name: Test against RabbitMQ alphas

on:
  schedule:
    - cron: '0 4 * * *'
  push:
    branches:
      - 2.x.x-stable
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        include:
          - rabbitmq-image: "pivotalrabbitmq/rabbitmq:v3.12.x-otp-max-bazel"
            delayed-message-exchange-plugin-version: "3.12.0"
          - rabbitmq-image: "pivotalrabbitmq/rabbitmq:main-otp-max-bazel"
            delayed-message-exchange-plugin-version: "3.13.0.alpha"
    name:  Test against ${{ matrix.rabbitmq-image }}
    steps:
      - uses: actions/checkout@v4
      - name: Checkout tls-gen
        uses: actions/checkout@v4
        with:
          repository: rabbitmq/tls-gen
          path: './tls-gen'
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
          cache: 'maven'
      - name: Start RabbitMQ application
        run: ci/start-broker.sh
        env:
          RABBITMQ_IMAGE: ${{ matrix.rabbitmq-image }}
          DELAYED_MESSAGE_EXCHANGE_PLUGIN_VERSION: ${{ matrix.delayed-message-exchange-plugin-version }}
      - name: Test
        run: |
          ./mvnw verify -Drabbitmqctl.bin=DOCKER:rabbitmq \
            -Dtest-broker.A.nodename=rabbit@$(hostname) \
            -Dtest-tls-certs.dir=tls-gen/basic \
            --no-transfer-progress
      - name: Stop broker
        run: docker stop rabbitmq && docker rm rabbitmq
